<?xml version="1.0" encoding="UTF-8"?>
<config release="${project.version}">
  <scripts>
    <organization>
      <name>OGC</name>
      <standard>
        <name>Catalogue Service - Web (CSW)</name>
        <version>
          <name>2.0.2</name>
          <suite>
            <namespace-uri>http://www.opengis.net/cat/csw/2.0.2</namespace-uri>
            <prefix>csw</prefix>
            <local-name>csw-2.0.2-compliance-suite</local-name>
            <title>CSW 2.0.2 Conformance Test Suite</title>
            <description>Checks catalogue implementations for conformance to the CSW part of OGC 07-006r1.</description>
          </suite>
          <revision>
            <name>r10</name>
            <sources>
              <source>csw/2.0.2/ctl</source>
            </sources>
            <resources>csw/2.0.2/resources</resources>
            <webdir>csw/2.0.2/site</webdir>
          </revision>
        </version>
      </standard>
      <standard>
        <name>Web Coverage Service (WCS)</name>
        <version>
          <name>2.0.1</name>
          <suite>
            <namespace-uri>http://www.opengis.net/wcs/2.0</namespace-uri>
            <prefix>wcs2</prefix>
            <local-name>suite</local-name>
            <title>WCS 2.0 Conformance Test Suite</title>
            <description>Checks WCS Core implementations for conformance with OGC 09-110r3 and 09-110r4.</description>
          </suite>
          <revision>
            <name>r6</name>
            <sources>
              <source>wcs/2.0.1/ctl</source>
            </sources>
            <resources>wcs/2.0.1/resources</resources>
            <webdir>wcs/2.0.1/site</webdir>
          </revision>
        </version>
        <version>
          <name>1.0.0</name>
          <suite>
            <namespace-uri>http://www.opengis.net/wcs</namespace-uri>
            <prefix>wcs1-0-0</prefix>
            <local-name>main_wcs1-0-0</local-name>
            <title>WCS 1.0.0 Conformance Test Suite</title>
            <description>Checks WCS implementations for conformance to OGC 05-076.</description>
          </suite>
          <revision>
            <name>r8</name>
            <sources>
              <source>wcs/1.0.0/ctl</source>
            </sources>
            <resources>wcs/1.0.0/resources</resources>
            <webdir>wcs/1.0.0/site</webdir>
          </revision>
        </version>
      </standard>
      <standard>
        <name>Web Feature Service (WFS)</name>
        <version>
          <name>2.0</name>
          <suite>
            <namespace-uri>http://www.opengis.net/cite/iso19142</namespace-uri>
            <prefix>tns</prefix>
            <local-name>ets-wfs20-2.0-r18</local-name>
            <title>WFS 2.0 (ISO 19142:2010) Conformance Test Suite</title>
            <description>Checks WFS 2.0 implementations for conformance to ISO 19142:2010.</description>
          </suite>
          <revision>
            <name>2.0-r18</name>
            <status>Beta</status>
            <sources>
              <source>wfs20/2.0.0/ctl</source>
            </sources>
            <webdir>wfs20/2.0.0/site</webdir>
          </revision>
        </version>
        <version>
          <name>1.1.0</name>
          <suite>
            <namespace-uri>http://www.occamlab.com/ctl</namespace-uri>
            <prefix>ctl</prefix>
            <local-name>wfs-1.1.0-compliance-suite</local-name>
            <title>WFS 1.1.0 Conformance Test Suite</title>
            <description>Checks WFS implementations for conformance to OGC 04-094.</description>
          </suite>
          <revision>
            <name>r21</name>
            <sources>
              <source>wfs/1.1.0/ctl</source>
            </sources>
            <resources>wfs/1.1.0/resources</resources>
            <webdir>wfs/1.1.0/site</webdir>
          </revision>
        </version>
        <version>
          <name>1.0.0</name>
          <suite>
            <namespace-uri>http://www.opengis.net/wfs</namespace-uri>
            <prefix>wfs</prefix>
            <local-name>main_wfs</local-name>
            <title>WFS 1.0 Conformance Test Suite</title>
            <description>Checks WFS implementations for conformance to OGC 02-058.</description>
          </suite>
          <revision>
            <name>r7</name>
            <sources>
              <source>wfs/1.0.0/ctl</source>
            </sources>
            <webdir>wfs/1.0.0/site</webdir>
          </revision>
        </version>
      </standard>
      <standard>
        <name>Web Map Service (WMS)</name>
        <version>
          <name>1.3.0</name>
          <suite>
            <namespace-uri>https://cite.opengeospatial.org/wms-1.3.0/src/ctl</namespace-uri>
            <prefix>wms-1.3.0</prefix>
            <local-name>compliance_suite</local-name>
            <title>WMS 1.3 Conformance Test Suite</title>
            <description>Verifies conformance to ISO 19128:2005.</description>
          </suite>
          <revision>
            <name>r10</name>
            <sources>
              <source>wms/1.3.0/ctl</source>
            </sources>
            <webdir>wms/1.3.0/site</webdir>
          </revision>
        </version>
        <version>
          <name>1.1.1</name>
          <suite>        <namespace-uri>http://www.opengis.net/wms</namespace-uri>
            <prefix>wms</prefix>
            <local-name>main_wms</local-name>
            <title>WMS 1.1.1 Conformance Test Suite</title>
            <description>Checks WMS implementations for conformance to OGC 01-068r3.</description>
          </suite>
          <revision>
            <name>r7</name>
            <sources>
              <source>wms/1.1.1/ctl</source>
            </sources>
            <webdir>wms/1.1.1/site</webdir>
          </revision>
        </version>
      </standard>
      <standard>
        <name>Web Map Tile Service (WMTS)</name>
        <version>
          <name>1.0.0</name>
          <suite>
            <namespace-uri>http://www.opengis.net/wmts/1.0</namespace-uri>
            <prefix>wmts</prefix>
            <local-name>server.suite.base</local-name>
            <title>WMTS 1.0.0 Conformance Test Suite</title>
            <description>Checks WMTS implementations for conformance to OGC 07-057r7.</description>
          </suite>
          <revision>
            <name>4</name>
            <status>Beta</status>
            <sources>
              <source>wmts/1.0.0/ctl</source>
            </sources>
            <resources>wmts/1.0.0/resources</resources>
            <webdir>wmts/1.0.0/site</webdir>
            <profile>
              <namespace-uri>http://www.opengis.net/wmts/1.0</namespace-uri>
              <prefix>wmts</prefix>
              <local-name>server.profile.kvp.get</local-name>
              <title>GET binding</title>
            </profile>
            <profile>
              <namespace-uri>http://www.opengis.net/wmts/1.0</namespace-uri>
              <prefix>wmts</prefix>
              <local-name>server.profile.kvp.post</local-name>
              <title>POST/KVP binding</title>
            </profile>
            <profile>
              <namespace-uri>http://www.opengis.net/wmts/1.0</namespace-uri>
              <prefix>wmts</prefix>
              <local-name>server.profile.xml.post</local-name>
              <title>POST/XML binding</title>
            </profile>
            <profile>
              <namespace-uri>http://www.opengis.net/wmts/1.0</namespace-uri>
              <prefix>wmts</prefix>
              <local-name>server.profile.soap.post</local-name>
              <title>POST/SOAP binding</title>
            </profile>
            <profile>
              <namespace-uri>http://www.opengis.net/wmts/1.0</namespace-uri>
              <prefix>wmts</prefix>
              <local-name>server.profile.restful</local-name>
              <title>REST binding</title>
            </profile>
          </revision>
        </version>
      </standard>
      <standard>
        <name>Geography Markup Language (GML)</name>
        <version>
          <name>3.2.1</name>
          <suite>
            <namespace-uri>http://www.opengis.net/cite/iso19136</namespace-uri>
            <prefix>tns</prefix>
            <local-name>ets-gml32-3.2.1-r18</local-name>
            <title>GML 3.2 (ISO 19136:2007) Conformance Test Suite</title>
            <description>Checks GML application schemas or data sets for conformance to ISO 19136:2007.</description>
          </suite>
          <revision>
            <name>3.2.1-r18</name>
            <sources>
              <source>gml32/3.2.1/ctl</source>
            </sources>
            <webdir>gml32/3.2.1/site</webdir>
          </revision>
        </version>
      </standard>
      <standard>
        <name>OGC KML</name>
        <version>
          <name>2.2</name>
          <suite>
            <namespace-uri>http://www.opengis.net/cite/kml22</namespace-uri>
            <prefix>tns</prefix>
            <local-name>ets-kml22-2.2-r11</local-name>
            <title>OGC KML 2.2 Validator</title>
            <description>Validates the structure and content of standard KML 2.2 documents.</description>
          </suite>
          <revision>
            <name>2.2-r11</name>
            <sources>
              <source>kml22/2.2/ctl</source>
            </sources>
            <webdir>kml22/2.2/site</webdir>
          </revision>
        </version>
      </standard>
    </organization>
  </scripts>
</config>
